h1, noscript, p {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.bottom {
    position: fixed;
    bottom: 0;
}

button {
    border-style: solid;
    cursor: pointer;
}

input[type=text] {
    border-style: solid;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dark::placeholder {
    color: #ffffff;
}

img {
    max-height: none;
}

.left {
    float: left;
    text-align: left;
}

.light::placeholder {
    color: #000000;
}

.right {
    float: right;
    text-align: right;
}

#root {
    display: none;
}

#sitename {
    cursor: pointer;
}